.App .container-flud .nav #nav-second.mobile.active {
	visibility: visible;
}
.App {
	@media screen and (max-width: 768px) {
		.fot-container {
			flex-wrap: wrap;
			.left-fot {
				padding-left: 70px;
			}
			.center-fot {
				padding-right: 30px;
			}
			.socials {
				margin: 0 0 5rem 5.5rem;
			}
			.confirm {
				input {
					width: auto;
				}
			}
		}
		.container-flud {
			.title-detail {
				.sub-info {
					display: block;
					.sub-img {
						display: flex;
						justify-content: center;
						align-items: center;
						img {
							width: 90%;
						}
					}
					hr {
						width: 90%;
					}
					.overview {
						.overview-txt {
							padding-right: 20px;
						}
					}
					.sub-text {
						padding-left: 20px;
					}
				}
			}
			.profile {
				.cast-crew {
					padding-left: 40px;
				}
			}
		}
	}
	@media screen and (max-width: 552px) {
		footer#site-footer {
			.fot-container {
				.center-fot {
					margin-left: 50px;
				}
				.socials {
					.confirm {
						display: flex;
						width: 160px;
					}
				}
			}
		}
	}
	.container-flud {
		@media screen and (max-width: 1200px) {
			overflow: hidden;
			.nav {
				margin: 20px 20px 0 20px;
				#nav-second {
					display: block;
					position: absolute;
					background: #282828;
					overflow: hidden;
					visibility: hidden;
					z-index: 1000;
					opacity: 90%;
					padding-bottom: 30px;
					top: 0;
					left: 0;
					ul.first-menu {
						margin-right: 100px;
						li {
							cursor: pointer;
							padding: 0;
							a {
								display: block;
								color: white;
								letter-spacing: 2px;
							}
						}
					}
				}
				.menu-mobile {
					display: block;
					.text-w3 {
						font-size: 35px;
					}
				}
			}
			div#search-nor {
				padding: 0 5px 0 5px;
				display: block;
				.row {
					text-align: center;
				}
				.row-right {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					.trailer {
						margin-right: 20px;
					}
				}
			}

			// showmore
			#container {
				.top-movies {
					.content-film {
						.film {
							width: 17.33%;
							height: 420px;
							img {
								width: 100%;
							}
						}
						.imdb {
							bottom: 40%;
						}
					}
					.makeStyles-root-1 {
						margin-top: 30px;
					}
				}
			}
			.tv-show {
				display: flex;
				flex-wrap: wrap;
				margin-left: -10px;
				margin-right: -10px;
				.row {
					width: auto;
					max-width: 100%;
					padding: 10px;
					img {
						background: blue;
					}
				}
			}
			// video detail
			.info {
				.video-responsive {
					display: flex;
				}
			}
			hr {
				width: 90%;
			}
			.overview {
				.overview-txt {
					margin-right: 20px;
				}
			}
		}
		@media screen and (max-width: 992px) {
			.container {
				margin: 5px;
				.watch button:hover,
				.watch button:focus {
					background: #ff9900;
					transition: 0.2s;
				}
				.watch {
					.imdb {
						bottom: 31%;
					}
				}
			}
			#container {
			.film {
					.imdb {
						bottom: 40%;
					}
				}
			}
			.tv-show {
				.title-tv {
					margin: 10px;
				}
				.row {
					padding: 0;
					margin-bottom: 20px;
				}
			}
			div#search-nor {
				img {
					width: 100%;
					margin-left: -10px;
				}
				.row {
					text-align: center;
					.search-second input {
						padding: 0;
						text-align: center;
					}
				}
			}
			// title detail
			.title-detail {
				.sub-img {
					img {
						width: 100%;
					}
					.sub-text {
						display: flex;
						.overview {
							p {
								padding: 0 20px 0 20px;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 768px) {
			.container {
				.content-film {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					.watch {
						margin: 20px;
						img {
							padding-top: 10px;
						}
						.btn-w-f button .content-w:hover {
							transition: 0.1s;
						}
					}
					.watch {
						.imdb {
							bottom: 19%;
						}
					}
				}
			}
			// showmore
			#container {
				.top-movies {
					.content-film {
						.film {
							width: 170px;
							height: 400px;
						}
					}
				}
			}
			.tv-show {
				display: flex;
				justify-content: space-around;
			}
			div#search-nor {
				display: block;
				.later-trailer {
					margin-right: 30px;
					position: relative;
				}
				.title-right {
					p {
						text-align: center;
						margin-right: 30px;
					}
				}
				.row-right {
					margin-top: 20px;
					img {
						width: 100%;
						margin: auto;
					}
				}
			}
		}
	}
}